<table class="table table-bordered">
  <tr>
    <th></th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
  </tr>
  <tr>
    <th>1</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>2</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>3</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>4</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>6</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>7</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>8</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>9</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
  <tr>
    <th>10</th>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
    <td>o</td><td>o</td><td>o</td><td>o</td><td>o</td>
  </tr>
</table>
